.git
.gitignore
.gitattributes
.github
.idea
.mvn
*.md
node_modules
logs
target
dist
.editorconfig
*.swo
*.swp
.DS_Store
.dev-pids
.vscode
ChatGPTdocs
scripts
node_modules
package-lock.json
package.json
qodana.*
edu-backend/*/Dockerfile
